
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.sticky{
  position: fixed;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;

}
tr{
  padding-top: 30%;
}
#record{
  position: absolute;
top: 50%;
left: 50%;
color: grey;
}
.css-table {
  display: table;
  }
  
  .css-table-header {
  display: table-header-group;
  font-weight: bold;
  background-color: rgb(191, 191, 191);
  }
  
  .css-table-body {
  display: table-row-group;
  }
  
  .css-table-row {
  display: table-row;
  }
  
  .css-table-header div,
  .css-table-row div {
  display: table-cell;
  padding: 0 6px;
  }
  
  .css-table-header div {
  text-align: center;
  border: 1px solid rgb(255, 255, 255);
  }
  #text{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 50px;
  }
